site_name: MCP Markdown Template
site_author: hsiangjenli
theme:
  name: readthedocs
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
            show_root_heading: true
            heading_level: 2
nav:
  - Home: index.md
  - API Reference:
    - Loader: reference/loader.md
    - Parser: reference/parser.md
    - Generator: reference/generator.md
  - Demo MCP:
    - Endpoint: reference/endpoints.md
    - Models: reference/models.md
